@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #0c0c0c;
    font-family: Hi Melody;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #0c0c0c;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #0c0c0c;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #0c0c0c;
    font-size: 30px;
    font-weight: 500;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #0c0c0c;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-search-icon{
   position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FBD24E;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-right button {
    appearance: button;
    background-color: #FBD24E;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #000, #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Hi Melody, Arial, sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .navbar-right button:focus {
    text-decoration: none;
  }
  
  .navbar-right button:hover {
    text-decoration: none;
    transform: translate(2px, 2px);
    box-shadow: inset 0 0 0 1px #000, #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  }
  
  .navbar-right button:active {
    box-shadow: inset 0 0 0 1px #000, rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .navbar-right button:not([disabled]):active {
    box-shadow: inset 0 0 0 1px #000, #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .navbar-right button {
      padding: 12px 50px;
    }
  }

.navbar-profile{
    position: relative;

}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile-dropdown li{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-profile-dropdown img{
    width: 20px;
}
.navbar-profile-dropdown li:hover{
    color: #FBD24E;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FEF3C7;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #F49D0C;
    outline: 2px solid #fff;
    list-style: none;
}
.navbar-profile hr{
    background-color: #f49d0c;
    height: 1px;
    border: none;
}
@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}